{% extends 'index.html' %}
{% load static %}
  {% block contenido %}
   <div class="full">
      <!-- Preloader -->
      <div id="preloader">
         <div class="preloader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
         </div>
      </div>	   
    <!-- Navbar -->
    <nav class="navbar navbar-custom navbar-fixed-top">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
                <i class="fa fa-bars"></i>
            </button>
            <div class="navbar-brand-centered page-scroll">
                <a href="#page-top">
                    <img src="{% static 'img/logo.png' %}" alt="">
                </a>
            </div>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-brand-centered">
            <div class="container">
                <ul class="nav navbar-nav page-scroll navbar-left">
                    <li>
                        <a href="./index.html">Inicio</a>
                    </li>
                    <li>
                        <a href="#services">Servicios</a>
                    </li>
                    <li>
                        <a href="#team">Equipo</a>
                    </li>
                    <li>
                        <a href="./menu.html">Juegos Interactivos</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav page-scroll navbar-right">
                    <!-- Dropdown -->
                    <li>
                        <a href="./faq.html">FAQ</a>
                    </li>
                    <li>
                        <a href="./busqueda.html">Buscar Usarios</a>
                    </li>
                    <li>
                        <a href="./report.html">Reportes</a>
                    </li>
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Perfil
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="blog-home.html">Ver Perfil</a>
                            </li>
                            <li>
                                <a href="blog-post.html">Actualizar Perfil</a>
                            </li>
                            <li class="divider"></li>
                            <li class="active">
                                <a href="./login.html">Iniciar sesión</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
    <!-- /navbar ends -->


    <section id="callout" class="small-section login-page" >
        <!-- Clouds background -->
        <div class="hidden-xs">
            <div class="cloud x1"></div>
            <div class="cloud x2"></div>
            <div class="cloud x3"></div>
            <div class="cloud x4"></div>
            <div class="cloud x5"></div>
            <div class="cloud x6"></div>
            <div class="cloud x7"></div>
        </div>
        <!-- /Clouds ends -->
        <div class="container">
            <!-- Animated Sun -->
            <div class="sun hidden-sm hidden-xs">
                <div class="sun-face">
                    <div class="sun-hlight"></div>
                    <div class="sun-leye"></div>
                    <div class="sun-reye"></div>
                    <div class="sun-lred"></div>
                    <div class="sun-rred"></div>
                    <div class="sun-smile"></div>
                </div>
                <!-- Sun rays -->
                <div class="sun-anime">
                    <div class="sun-ball"></div>
                    <div class="sun-light">
                        <b></b>
                        <s></s>
                    </div>
                    <div class="sun-light">
                        <b></b>
                        <s></s>
                    </div>
                    <div class="sun-light">
                        <b></b>
                        <s></s>
                    </div>
                    <div class="sun-light">
                        <b></b>
                        <s></s>
                    </div>
                    <div class="sun-light">
                        <b></b>
                        <s></s>
                    </div>
                    <div class="sun-light">
                        <b></b>
                        <s></s>
                    </div>
                    <div class="sun-light">
                        <b></b>
                        <s></s>
                    </div>
                    <div class="sun-light">
                        <b></b>
                        <s></s>
                    </div>
                    <div class="sun-light">
                        <b></b>
                        <s></s>
                    </div>
                    <div class="sun-light">
                        <b></b>
                        <s></s>
                    </div>
                    <div class="sun-light">
                        <b></b>
                        <s></s>
                    </div>
                    <div class="sun-light">
                        <b></b>
                        <s></s>
                    </div>
                </div>
            </div>
            <!-- /Animated Sun -->
            <div class="col-md-8 col-sm-8 text-center login-form-container">
                <div class="well">
                    <h3>Iniciar sesión</h3>
                    <form action="" method="post">
                      {% csrf_token %}
                        <div class="row login-form-row">
                            <div class="col-lg-4">
                                <label for="email">Correo electrónico</label>
                            </div>
                            <div class="col-lg-4">
                                {{form.email}}
                                {{form.email.errors}}
                            </div>
                        </div>
                        <div class="row login-form-row">
                            <div class="col-lg-4">
                                <label for="password">Contraseña</label>
                            </div>
                            <div class="col-lg-4">
                                {{form.password}}
                                {{form.password.errors}}
                            </div>
                        </div>
                        {{message}}
                    <div class="page-scroll">
                        <!-- Button-->
                        <button class="btn" type="submit"   >Entrar</button>
                        <a href="{% url 'registro' %}"><button class="btn" >Registro</button></a>
                    </div>
                    </form>
                    <!-- /page-scroll -->
                </div>
                <!-- /well -->
            </div>
            <!-- /col-md-6 -->
        </div>
        <!-- /container-->
    </section>
    <!-- Section Ends-->
	  
      <!-- Footer -->	
      <div class="container-fluid cloud-divider">
         <!-- Clouds SVG Divider -->	
         <svg id="deco-clouds" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M-5 100 Q 0 20 5 100 Z
               M0 100 Q 5 0 10 100
               M5 100 Q 10 30 15 100
               M10 100 Q 15 10 20 100
               M15 100 Q 20 30 25 100
               M20 100 Q 25 -10 30 100
               M25 100 Q 30 10 35 100
               M30 100 Q 35 30 40 100
               M35 100 Q 40 10 45 100
               M40 100 Q 45 50 50 100
               M45 100 Q 50 20 55 100
               M50 100 Q 55 40 60 100
               M55 100 Q 60 60 65 100
               M60 100 Q 65 50 70 100
               M65 100 Q 70 20 75 100
               M70 100 Q 75 45 80 100
               M75 100 Q 80 30 85 100
               M80 100 Q 85 20 90 100
               M85 100 Q 90 50 95 100
               M90 100 Q 95 25 100 100
               M95 100 Q 100 15 105 100 Z">
            </path>
         </svg>
      </div>
      <footer>
         <div class="container-fluid">           
            <!-- Newsletter -->
            <div class="col-lg-4 col-md-6 text-center res-margin">
               <h6 class="text-light">Suscribir al boletín de noticias</h6>
               <p>Reciba noticias una vez a la semana.</p>
               <!-- Form -->				
               <div id="mc_embed_signup">
                  <form action="//yourlist.us12.list-manage.com/subscribe/post?u=04e646927a196552aaee78a7b&id=111" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                     <div id="mc_embed_signup_scroll">
                        <div class="mc-field-group">
                           <div class="input-group">
                              <input class="form-control input-lg required email" type="email" value="" name="EMAIL" placeholder="Correo electrónico" id="mce-EMAIL">
                              <span class="input-group-btn">
                              <input type="submit" value="Suscribir" name="subscribe" id="mc-embedded-subscribe" class="btn">
                              </span>
                           </div>
                           <!-- Subscription results -->
                           <div id="mce-responses" class="mailchimp">
                              <div class="alert alert-danger response" id="mce-error-response"></div>
                              <div class="alert alert-success response" id="mce-success-response"></div>
                           </div>
                        </div>
                        <!-- /mc-fiel-group -->									
                     </div>
                     <!-- /mc_embed_signup_scroll -->
                  </form>
                  <!-- /form ends -->
               </div>
               <!-- /mc_embed_signup -->		            
            </div>
            <!-- /col-lg-4 -->
            <!-- Bottom Credits -->
            <div class="col-lg-4 col-md-6 res-margin">
               <a href="#page-top"><img src="{% static 'img/logo.png' %}"  alt="" class="center-block"></a>
               <!-- social-icons -->	
               <div class="social-media">
                  <a href="#" title=""><i class="fa fa-twitter"></i></a>
                  <a href="#" title=""><i class="fa fa-facebook"></i></a>
                  <a href="#" title=""><i class="fa fa-linkedin"></i></a>
                  <a href="#" title=""><i class="fa fa-pinterest"></i></a>
                  <a href="#" title=""><i class="fa fa-instagram"></i></a>
               </div>
            </div>
            <!-- /col-lg-4 -->
            <!-- Opening Hours -->
            <div class="col-lg-4 col-md-12 text-center">
               <!-- Sign-->
               <h6 class="text-light">Horario de atención:</h6>
               <!-- Table-->
               <table class="table">
                  <tbody>
                     <tr>
                        <td class="text-left">Lunes a Viernes</td>
                        <td class="text-right">7 a.m. a 7 p.m.</td>
                     </tr>
                     <tr>
                        <td class="text-left">Fines de semana / Feriados</td>
                        <td class="text-right"><span class="label label-danger">Cerrado</span></td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <!-- /col-lg-4 -->
         </div>
         <!-- / container -->
         <hr>
         <p>Copyright © 2016 - Diseñado por  <a href="http://www.ingridkuhn.com">Ingrid Kuhn</a></p>
         <!-- /container -->
         <!-- Go To Top Link -->
         <div class="page-scroll hidden-sm hidden-xs">
            <a href="#page-top" class="back-to-top"><i class="fa fa-angle-up"></i></a>
         </div>
      </footer>
      <!-- /footer ends -->
	  </div> <!-- /page width -->
    {% endblock contenido %}}
